<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE engineconfig SYSTEM "engineconfig.dtd">
<engineconfig>
	<buffer_reserve>120</buffer_reserve>
	<file_size>1000</file_size>
	<get_threshold>1</get_threshold>
	<ignored_future>1</ignored_future>
	<max_repeat_count>30</max_repeat_count>
	<write_period>6</write_period>
	<group>
		<name>F_XFEL_ARCHIVER_XML.config</name>
    
 		<channel><name>IBFBCTRL:Y-BPM1-UP-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:Y-BPM2-UP-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:Y-BPM1-DOWN-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:Y-BPM2-DOWN-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-BPM1-UP-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-BPM2-UP-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-BPM1-DOWN-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-BPM2-DOWN-POS-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:Y-KICK1-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:Y-KICK2-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-KICK1-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>IBFBCTRL:X-KICK2-WAV</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:X</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:Y</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:Q</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1837-CL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1860-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1878-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1910-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1930-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1863-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1889-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1925-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:X-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:Y-VALID</name><period>0.1</period><monitor/></channel>
 		<channel><name>BPMI-1939-TL:Q-VALID</name><period>0.1</period><monitor/></channel>
  </group>
</engineconfig>
